* {
    font-family: "roboto", "shrikhand";
    box-sizing: border-box;
}

$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

body {
    display: flex;
    flex-direction: column;
    margin: 0px;

    main {
        opacity: 0;
        display: flex;
        flex-direction: column;
        animation: content-appear forwards 1s 2s;
    }

    #loader {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid $main-color;
        animation: spin 2s forwards;
      }
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);
        opacity: 1; 
    }

    95% {
        opacity: 1;
    }
             
    100% {  
        transform: rotate(720deg);
        opacity: 0;
        display: none;
    }
  }

  @keyframes content-appear {
    0%  {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/******Header******/
header {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 63px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.26);
    z-index: 2;
    animation: content-appear forwards 1s 2s;

    img {
        width: 100%;
    }

    .logo__ohmyfood {
        width: 197px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/******Localisation******/
.btn__localisation {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: #EAEAEA;
    height: 50px;
    width: 100%;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.40);
    z-index: 1;
    animation: content-appear forwards 1s 2s;

    .location__field {
        width: 145px;
        border: 0px;
        background-color: #EAEAEA;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
    }

    input::placeholder {
        color: #353535;
    }
}

/******Introduction******/
.introduction {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #F3F3F3;
    padding-bottom: 50px;
    padding-top: 30px;
    text-align: center;
    animation: content-appear forwards 1s 2s;

    .introduction__description {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            margin: 0;
            padding-right: 60px;
            padding-left: 60px;
        }

        p {
            margin: 0;
            padding-right: 25px;
            padding-left: 25px;
        }
    }

    .btn__restaurants--flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        .btn__restaurants {
            width: 218px;
            height: 50px;
            border: 0px;
            border-radius: 25px;
            background: linear-gradient(to bottom, $secondary-color, $main-color);
            font-weight: 500;
            font-size: 16px;
            color: white;
            cursor: pointer;
            box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
            transition: all 1000ms;
        }

        .btn__restaurants:hover {
            opacity: 0.80;
            box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.35);
        }
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: rgba(53, 53, 53, 1);
    }
}

/******Fonctionnement******/
.fonctionnement {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    animation: content-appear forwards 1s 2s;

    .fonctionnement__flexbox {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
    }

    h1 {
        padding-left: 10px;
    }
}

.fonctionnement__card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    height: 72px;
    font-size: 16px;
    font-weight: 500;
    background-color: #F6F6F6;
    padding-left: 20px;
    cursor: default;

    .card__number {
        position: absolute;
        left: -12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 30px;
        width: 24px;
        min-width: 24px;
        height: 24px;
        font-weight: 500;
        font-size: 14px;
        color: white;
        background-color: rgba(147, 86, 220, 1);
    }

    .card__icon {
        position: absolute;
        left: 40px;
    }

    .card__icon--purple {
        color: rgba(147, 86, 220, 1);
    }

    p {
        position: absolute;
        left: 80px;
    }
}

/******Restaurants******/
.restaurants {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #F3F3F3;
    padding: 50px 10px 50px 10px;
    animation: content-appear forwards 1s 2s;

    .restaurants__cards {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    a {
        display: block;
        color: black;
        text-decoration: none;
        width: 100%;
    }

    h1 {
        margin: 0;
    }
}

.card {
    width: 100%;
    border-radius: 15px;
    height: 251px;
    position: relative;

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        height: 180px;
    }

    p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 20px;
        top: 0px;
        background-color: #99E2D0;
        color: rgba(0, 135, 102, 1);
        width: 80px;
        height: 29px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        cursor: default;
    }
}

.card__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 71px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    .card__txt {
        display: flex;
        flex-direction: column;
        padding-left: 20px;

        .restaurant__title {
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: Roboto;
            font-weight: 700;
            font-size: 18px;
            color: black;
        }

        .restaurant__adresse {
            font-weight: 300;
            font-size: 17px;
            color: black;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

.icone__like {
    position: relative;
    padding-right: 20px;
    
    .hidden {
        display: none;
    }
    
    .heart--full {
        background: linear-gradient($secondary-color, $main-color);
        background-clip: text;
        color: transparent;
        line-height: normal;
        opacity: 0;
        transition: opacity 500ms ease;
        transform-origin: center bottom;
        position: absolute;
        cursor: pointer;
    }
    
    .heart--empty {
        line-height: normal;
        opacity: 1;
        transition: opacity 500ms ease;
        transform-origin: center bottom;
        cursor: pointer;
    }
    
    /* Checkbox cochée */
    input[type="checkbox"]:checked ~ .heart--full {
        opacity: 1;
        animation: fill-in 500ms ease-in forwards;
    }
    
    input[type="checkbox"]:checked ~ .heart--empty {
        opacity: 0;
    }
    
        /* Checkbox décochée */
    input[type="checkbox"]:not(:checked) ~ .heart-full {
        opacity: 0;
        animation: fill-out 500ms ease-in forwards;
    }
    
    input[type="checkbox"]:not(:checked) ~ .heart--empty {
        opacity: 1;
    }
}

@keyframes fill-in {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(1.5);
    }

    75% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fill-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    25% {
        transform: scale(0.75);
    }

    50% {
        transform: scale(0.50);
    }

    75% {
        transform: scale(0.25);
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/******Footer******/
footer {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #353535;
    padding: 22px 25px 22px 25px;
    color: white;
    animation: content-appear forwards 1s 2s;

    h3 {
        font-family: "Shrikhand";
        font-weight: 400;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        gap: 7px;

        .liens__icones {
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 16px;
            gap: 7px;
        }

        .liens {
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: 400;
            font-size: 16px;
            gap: 7px;

            a {
                text-decoration: none;
                color: white;
            }
        }

        .footer__icon {
            margin-right: 5px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
}

/******RESPONSIVE******/
@media (min-width: 768px) {
/******Header******/
    header {
        box-shadow: none;
        height: 96px;
    }

    .btn__localisation {
        box-shadow: none;
    }
/******Fonctionnement******/    
    .fonctionnement {

        .fonctionnement__flexbox {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 1080px;
            margin: auto;
        }

        h1 {
            max-width: 1080px;
            margin: auto;
        }
    }

    .fonctionnement__card {
        width: 100%;

        .number__style {
            display: flex;
            position: relative;
            left: 10px;
        }
    
        .icone__fonctionnement {
            display: flex;
            flex-direction: row;
            position: relative;
            left: -30px;
        }
    }

/******Restaurants******/
    .restaurants {
        background-color: #F3F3F3;
        padding: 30px 15px 30px 15px;
        width: 100%;

        .restaurants__cards {
            display: flex;
            flex-flow: row wrap;
            column-gap: 100px;
            row-gap: 50px;
            max-width: 1080px;
            margin: auto;
            
            a {
                width: 40%;
                max-width: 515px;
                flex-grow: 1;
            }
        }

        h1 {
            max-width: 1080px;
            margin: auto;
        }
    }
    
/******Footer******/
    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 30px 25px 30px 25px;
        gap: 60px;
        height: 114px;

        h3 {
            margin-bottom: 0;
            padding-right: 30px;
        }

        .footer__links {
            display: flex;
            flex-direction: row;
            gap: 40px;
            
            .liens__icones {
                display: flex;
                flex-direction: row;
                gap: 10px;
                padding-right: 30px;
            }

            .liens {
                display: flex;
                flex-direction: row;
                gap: 10px;
                padding-right: 30px;
            }
        }

        
    }    
}