* {
  font-family: "roboto", "shrikhand";
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
body main {
  opacity: 0;
  display: flex;
  flex-direction: column;
  animation: content-appear forwards 1s 2s;
}
body #loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  animation: spin 2s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
    display: none;
  }
}
@keyframes content-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/******Header******/
header {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.26);
  z-index: 2;
  animation: content-appear forwards 1s 2s;
}
header img {
  width: 100%;
}
header .logo__ohmyfood {
  width: 197px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/******Localisation******/
.btn__localisation {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  height: 50px;
  width: 100%;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  animation: content-appear forwards 1s 2s;
}
.btn__localisation span {
  width: 145px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
}

/******Introduction******/
.introduction {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #F3F3F3;
  padding-bottom: 50px;
  padding-top: 30px;
  text-align: center;
  animation: content-appear forwards 1s 2s;
}
.introduction .introduction__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.introduction .introduction__description h1 {
  margin: 0;
  padding-right: 60px;
  padding-left: 60px;
}
.introduction .introduction__description p {
  margin: 0;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: 300;
  font-size: 18px;
  color: rgb(53, 53, 53);
}
.introduction .btn__restaurants--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.introduction .btn__restaurants--flex .btn__restaurants {
  width: 218px;
  height: 50px;
  border: 0px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 500;
  font-size: 16px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 1000ms;
}
.introduction .btn__restaurants--flex .btn__restaurants:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/******Fonctionnement******/
.fonctionnement {
  opacity: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  animation: content-appear forwards 1s 2s;
}
.fonctionnement .fonctionnement__flexbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}
.fonctionnement h1 {
  padding-left: 10px;
  padding-bottom: 25px;
}

.fonctionnement__card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  border: 0px;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  height: 72px;
  font-size: 16px;
  font-weight: 500;
  background-color: #F6F6F6;
  padding-left: 20px;
  cursor: default;
}
.fonctionnement__card .card__number {
  position: absolute;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 30px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  color: white;
  background-color: rgb(147, 86, 220);
}
.fonctionnement__card .card__icon {
  position: absolute;
  left: 40px;
}
.fonctionnement__card .card__icon--purple {
  color: rgb(147, 86, 220);
}
.fonctionnement__card .fonctionnement__txt {
  position: absolute;
  left: 80px;
}

/******Restaurants******/
.restaurants {
  opacity: 0;
  background-color: #F3F3F3;
  padding: 50px 10px 50px 10px;
  animation: content-appear forwards 1s 2s;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants a {
  display: block;
  color: black;
  text-decoration: none;
  width: 100%;
}
.restaurants h1 {
  padding-bottom: 20px;
}

.card {
  width: 100%;
  border-radius: 15px;
  height: 251px;
  position: relative;
}
.card img {
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 180px;
}
.card .nouveau__tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  color: rgb(0, 135, 102);
  width: 80px;
  height: 29px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  cursor: pointer;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 71px;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card__content .card__txt {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.card__content .card__txt .restaurant__title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  color: black;
}
.card__content .card__txt .restaurant__adresse {
  font-weight: 300;
  font-size: 17px;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.icone__like {
  position: relative;
  padding-right: 20px;
}
.icone__like .heart--full {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
  line-height: normal;
  opacity: 0;
  transition: opacity 500ms ease;
  transform-origin: center bottom;
  position: absolute;
  cursor: pointer;
}
.icone__like .heart--empty {
  line-height: normal;
  opacity: 1;
  transition: opacity 500ms ease;
  transform-origin: center bottom;
  cursor: pointer;
}

.icone__like:hover .heart--full {
  animation: fill-in 500ms ease-in forwards;
  opacity: 1;
}
.icone__like:hover .heart--empty {
  opacity: 0;
}

.icone__like:not(:hover) .heart--full {
  animation: fill-out 500ms ease-in forwards;
  opacity: 0;
}
.icone__like:not(:hover) .heart--empty {
  opacity: 1;
}

@keyframes fill-in {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fill-out {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(0);
  }
}
/******Footer******/
footer {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  padding: 22px 25px 22px 25px;
  color: white;
  animation: content-appear forwards 1s 2s;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}
footer .footer__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer__links .liens__icones {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
  gap: 7px;
}
footer .footer__links .liens {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  gap: 7px;
}
footer .footer__links .liens a {
  text-decoration: none;
  color: white;
}
footer .footer__links .footer__icon {
  margin-right: 5px;
}
footer .footer__links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/******RESPONSIVE******/
@media (min-width: 768px) {
  /******Header******/
  header {
    box-shadow: none;
    height: 96px;
  }
  .btn__localisation {
    box-shadow: none;
  }
  /******Fonctionnement******/
  .fonctionnement .fonctionnement__flexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1080px;
    margin: auto;
  }
  .fonctionnement h1 {
    max-width: 1080px;
    margin: auto;
  }
  .fonctionnement__card {
    width: 100%;
  }
  .fonctionnement__card .number__style {
    display: flex;
    position: relative;
    left: 10px;
  }
  .fonctionnement__card .icone__fonctionnement {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -30px;
  }
  /******Restaurants******/
  .restaurants {
    background-color: #F3F3F3;
    padding: 30px 15px 30px 15px;
    width: 100%;
  }
  .restaurants .restaurants__cards {
    display: flex;
    flex-flow: row wrap;
    column-gap: 100px;
    row-gap: 50px;
    max-width: 1080px;
    margin: auto;
  }
  .restaurants .restaurants__cards a {
    width: 40%;
    max-width: 515px;
    flex-grow: 1;
  }
  .restaurants h1 {
    max-width: 1080px;
    margin: auto;
  }
  /******Footer******/
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 30px 25px 30px 25px;
    gap: 60px;
    height: 114px;
  }
  footer h3 {
    margin-bottom: 0;
    padding-right: 30px;
  }
  footer .footer__links {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  footer .footer__links .liens__icones {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 30px;
  }
  footer .footer__links .liens {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 30px;
  }
}

/*# sourceMappingURL=style-accueil.css.map */
